<div>
  <h3>総合評価ランキング</h3>
  <p>ascascascas</p>
</div>

<div>
  <h3>搭乗までランキング</h3>
  <p>dsdvsdvsdv</p>
</div>

<div>
  <h3>CA対応ランキング</h3>
  <p>dsdvsdvsdv</p>
</div>

<div>
  <h3>座席評価ランキング</h3>
  <p>dsdvsdvsdv</p>
</div>