<h2>About Us</h2>
<p>このサービスは<a href="https://twitter.com/all_akumasan">@all_akumasan</a>がプログラミングの勉強用に作成したものです。</p>
<p>スクレイピングの勉強を主な目的として作成しています。
  当初は航空会社の概要についてもWikipediaからスクレイピングで取得した情報を表示させていましたが、
  Wikipediaのスクレイピンは禁止されているとのことで、一旦Wikipediaから引用する形で対応しています。</p>