//*Select Form*//
select {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

//*airline-data*//
.container {
  padding-top: 30px;
}

.airline {
  .airline-main-info {
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    .airline-info1 {
      width: 24%;
      margin: 4px;
      text-align: center;
      float: left;
      border: 1px solid;
      border-radius: 10px;
      height: 100px;
      box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
      .airline-content {
        font-weight: bold;
        padding-top: 20px;
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .main-info {
        padding-top: 5px;
        font-size: 16px;
      }
    }
  }
}

.airline-summary {
  width: 100%;
  margin-top: 110px;
  padding-bottom: 10px;
  margin-bottom: 50px;
  background-color: #999999;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  .summary-title {
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    text-decoration: underline;
    font-size: 20px;
  }
  .summary {
    margin: 15px;
    text-align: left;
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  }
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}
