//*Select Form*//
select {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

//body{
//  background-image: image_url("plane1.jpg");
//  background-size: cover;
//  background-repeat: no-repeat;
//}

//*airline-data*//
.container {
  padding-top: 10px;
}

.airline {
  display: table;
  width: 100%;
  margin: 0 50px 0 50px;

  .airline-main-info {
    padding-top: 10px;

    .airline-info1 {
      width: 30%;
      margin: 4px;
      text-align: center;
      float: left;
      border: 1px solid;
      border-radius: 10px;
      height: 100px;
      box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.9);

      .airline-content {
        font-weight: bold;
        padding-top: 20px;
        text-decoration: underline;

        .main-info {
          padding-top: 5px;
          font-size: 16px;
        }
      }
    }
  }
}

.airline-summary {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #999999;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.8);

  .summary-title {
    text-align: center;
    font-weight: bold;
    padding-top: 15px;
    text-decoration: underline;
    font-size: 20px;
  }

  .summary {
    margin: 15px;
    text-align: left;
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  }
}

//*Airline_News*//
.airline-news {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: #2E2F30;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.8);

  .news-title {
    text-align: left;
    font-weight: bold;
    padding: 15px 0 0px 30px;
    text-decoration: underline;
    font-size: 20px;
    color: #F7F7F7;
  }

  .news {
    margin: 15px;
    text-align: left;
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.4);
  }
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: #0080ff;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #F7F7F7;
  transition: ease-in-out color .15s;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

//*Quoated*//
.quoted {
  font-size: 12px;
  text-align: right;
  margin-right: 50px;
}

/*footer*/
footer {
  background-color: #2E2F30;
  color: #F7F7F7;
  margin-top: 50px;
  padding: 0 100px 0 100px;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden {
  overflow: hidden;
}
